
.level-table{
    width: 75%;
    margin: auto;
    margin-top: 60px;
}
.table-layout{
    display: grid;
    grid-template-columns: 1fr 1.5fr 2fr 2fr 2fr 2fr 2fr;
    padding: 15px 20px;
    align-items: center;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
}
.table-data {
    display: flex;
    justify-content: center;
    align-items: center;
}

.level-table h1 {
    font-size: 3rem;
}
@media (max-width: 730px) {
    .level-table {
        margin-top: 1px;
        margin-left: 1px;
        width: 100%;
    }
}