.login-button {
    font-weight: 700;
    background-color: black;
    color: white;
    border: none;
    border-radius: 10px;
    height: 40px;
    width: 90px;
    cursor: pointer;
    transition: 0.25s;
}
.login-button:hover {
    opacity: 0.8;
}
.login-button:active {
    opacity: 0.5;
}

@media (max-width: 730px) {
    .login-button {
        width: 50px;
        height: 30px;
    }
}